<?xml version="1.0" encoding="UTF-8"?> 

<launch>
  <arg name="rovio_path" default="/home/davidz/work/ros/indigo/src/vslam_node/rovio"/>

  <node pkg="rovio" type="rovio_rosbag_loader" name="rovio" output="screen">
  <param name="filter_config" value="$(arg rovio_path)/cfg/rovio_test.info"/>
  <param name="camera0_config" value="$(arg rovio_path)/cfg/rovio_cam0.yaml"/>
  <param name="camera1_config" value="$(arg rovio_path)/cfg/rovio_cam1.yaml"/>
  <!--param name="rosbag_filename" value="/home/davidz/work/data/tum_dataset/dataset-corridor4_512_16/dataset-corridor4_512_16.bag"/-->
  <param name="rosbag_filename" value="$(arg bag_file)"/>
  <param name="filename_out" value="$(arg rovio_path)/../result/rovio_result"/>
  <param name="imu_topic_name" value="/imu0"/>
  <param name="cam0_topic_name" value="/cam0/image_raw"/>
  <param name="cam1_topic_name" value="/cam1/image_raw"/>
  <param name="record_odometry" value="true"/>
  </node>
</launch>
