<launch>
    <arg name="input_traj_log" default = "/home/hzhang8/work/ros/kinetic/src/vslam_node/result/robocane/vins-mono-rs/round/long3.log"/>  <!-- DC1.csv -->
    <arg name="input_img_directory" default = "/home/hzhang8/work/data/robocane/downsample/round/long3" />

    <arg name="output_map_ply" default = "long3.ply" /> <!-- DC1_map.ply -->
    <arg name="output_traj_ply" default = "long3_trajectory.ply"/> <!-- DC1_trajectory.ply -->

    <node name="vslam_vins" pkg="vslam_vins" type="vins-mapping-d16" output="screen">
        <param name="input_traj_log" type="string" value="$(arg input_traj_log)" />
        <param name="input_img_directory" type="string" value="$(arg input_img_directory)" />
        <param name="output_map_ply" type="string" value="$(arg output_map_ply)"/>
        <param name="output_traj_ply" type="string" value="$(arg output_traj_ply)"/>
    </node>

</launch>
